export PATH=./bin:$PATH
export DOCKER_COMPOSE_DEV_FILE=$PWD/docker-compose.yml
export DOCKER_COMPOSE_DEVCONTAINER=devcontainer
export CI_PROJECT_TITLE=plantassistant
export HA_URL=http://homeassistant:8123

[[ -f .env.local ]] && (echo "Loading .env.local" && source .env.local)
