export PATH=./bin:$PATH
export DOCKER_COMPOSE_DEV_FILE=$PWD/docker-compose.yml
export DOCKER_COMPOSE_DEVCONTAINER=devcontainer
export CI_PROJECT_TITLE=plantassistant
export HA_URL=http://homeassistant:8123
export HA_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI5YmY5NTUyNmRhY2Q0MjJiYmUwNzcxYjY2Y2E0Y2YxYiIsImlhdCI6MTY2NjkxODY1MywiZXhwIjoxOTgyMjc4NjUzfQ.eTYxTas4nLUbpLC0FY6THQJL4Qglhu6DYJvm8thWk7o"

[[ -f .env.local ]] && (echo "Loading .env.local" && source .env.local)
